<!--- Again, verbatim from the django-nvd3 package. -->

{% load nvd3_tags %}
<head>
    {# Jquery CDN : Needed when using jquery_on_ready=True #}
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <link href="nv.d3.min.css" rel="stylesheet">
    <script src="nv.d3.min.js"></script>
    {% include_chart_jscss %}
    {% load_chart charttype chartdata chartcontainer extra %}
</head>
<h1> Who has the better sales staff? </h1>
<body>
    {% include_container chartcontainer 400 800 %}
</body>
